<a href="/pages/about"> About</a>
<a href="/pages/contact"> Contact</a>
<h1>Welcome to HomeBuilder!</h1>
<h2>Review providers of home services and find reliable suppliers</h2>
<p>Still in beta and a sample application in development</p>

